@import url('https://fonts.cdnfonts.com/css/satoshi');

:root {
    --black: #22202E;
}


* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1440px;
  margin: auto;
   
}